<a href="https://colab.research.google.com/github/hyeongwon12/home-work/blob/main/hw4%EC%A1%B0%ED%98%95%EC%9B%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 211
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

안녕
Hi

In [ ]:
# 212
def 함수(a, b) :
 print(a + b)
함수(3, 4)
함수(7, 8)
7
15

In [ ]:
# 213
def 함수(문자열) :
 print(문자열)
함수()
TypeError: 함수() missing 1 required positional argument: '문자열'
매개변수를 넣지않음

In [ ]:
# 214
def 함수(a, b) :
 print(a + b)
함수("안녕", 3)
TypeError: must be str, not int
입력된 값의 타입이서로 같아야함

In [ ]:
# 215
def print_with_smile(i):
  
  print(i+':D')
print_with_smile('asd')

asd:D

In [ ]:
# 216
def print_with_smile(i):
  
  print(i+':D')
print_with_smile('안녕하세요')

In [ ]:
# 217
def  print_upper_price(num):
  print(num*1.3)

In [ ]:
# 218
def print_sum(a,b):
  print(a+b)

In [ ]:
# 219
def print_arithmetic_operation(a,b):
  print(a,'+',b,'=',(a+b))
  print(a,'-',b,'=',(a-b))
  print(a,'*',b,'=',(a*b))
  print(a,'/',b,'=',(a/b))
print_arithmetic_operation(1,2)

1 + 2 = 3
1 - 2 = -1
1 * 2 = 2
1 / 2 = 0.5

In [ ]:
# 220
def print_max(a,b,c):
 if a>b and a>c:
   print(a)
 elif b>a and b>c:
   print(b)
 else:
   print(c)
print_max(2,4,4)

4

In [ ]:
# 221
def print_reverse(a):
  print(a[::-1])
print_reverse('python')

nohtyp

In [ ]:
# 222
score = ([1, 2, 3])
def print_score(a):
  print(sum(a)/len(a))
print_score(score)

2.0

In [ ]:
# 223
num = [1, 3, 2, 10, 12, 11, 15]
def print_even(a):
  for i in a:
   if i%2==0:
    print(i)
print_even(num)

2
10
12

In [ ]:
# 224
dic = ({"이름":"김말똥", "나이":30, "성별":0})
def  print_keys(i):
  for a in i.keys():
   print(a)
print_keys(dic)

이름
나이
성별

In [ ]:
# 225
my_dict = {"10/26" : [100, 130, 100, 100],
 "10/27" : [10, 12, 10, 11]}
def print_value_by_key(a,i):
    print(a[i])
 
print_value_by_key(my_dict, "10/26")

[100, 130, 100, 100]

In [ ]:
# 226
#입력 문자열을 한 줄에 다섯글자씩 출력하는 print_5xn(string) 함수를 작성하라.
string=("아이엠어보이유알어걸asdasdasdss")

def print_5xn(b):
  a = int(len(b)/5)
  for i in range(a+1):
    print(b[i*5:i*5+5])
print_5xn(string)

아이엠어보
이유알어걸
asdas
dasds
s

In [ ]:
# 227
def printmxn(b,c):

  a = int(len(b)/3)
  for i in range(a+1):
    print(b[i*3:i*3+3])
printmxn("adssadasdasdasdasdasdasadasd",3)

ads
sad
asd
asd
asd
asd
asd
asa
das
d

In [ ]:
# 228
def  calc_monthly_salary(a):
  print(int(a/12))
calc_monthly_salary(12000000)

1000000

In [ ]:
# 229
def my_print (a, b) :
 print("왼쪽:", a)
 print("오른쪽:", b)
my_print(a=100, b=200)
#왼쪽: a=100
#오른쪽: b=200

In [ ]:
# 230
def my_print (a, b) :
 print("왼쪽:", a)
 print("오른쪽:", b)
my_print(b=100, a=200)

왼쪽: 200
오른쪽: 100