<a href="https://colab.research.google.com/github/hyeongwon12/home-work/blob/main/hw_5%EC%A1%B0%ED%98%95%EC%9B%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# 231
def n_plus_1 (n) :
 result = n + 1
n_plus_1(3)
print(result)
#result는 내부에 정의되어 글로벌프레임에 적용되지않는다

NameError: ignored

In [5]:
# 232
def make_ulr(m):
  print(f'www.{m}.com')
make_ulr('naver')

www.naver.com

In [8]:
# 233
def make_list(a):
   print(list(a))

make_list('abcdef')

['a', 'b', 'c', 'd', 'e', 'f']

In [12]:
# 234
def pickup_even(a):
  li = []
  for i in a:
    if i%2==0:
      li.append(i)
  print(li)
pickup_even([1,2,3,4,5,6,7,8,9])

[2, 4, 6, 8]

In [16]:
# 235
def convert_int(a):
  print(a.replace(',',''))
convert_int('1,2,3,4,5')

12345

In [17]:
# 236
def 함수(num) :
 return num + 4
a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)
#22

22

In [18]:
# 237
def 함수(num) :
 return num + 4
c = 함수(함수(함수(10)))
print(c)
#22

22

In [19]:
# 238
def 함수1(num) :
 return num + 4
def 함수2(num) :
 return num * 10
a = 함수1(10)
c = 함수2(a)
print(c)
#140

140

In [20]:
# 239
def 함수1(num) :
 return num + 4
def 함수2(num) :
 num = num + 2
 return 함수1(num)
c = 함수2(10)
print(c)
#16

16

In [2]:
# 240
def 함수0(num) :
 return num * 2

def 함수1(num) :
 return 함수0(num + 2)

def 함수2(num) :
  num = num + 10
  return 함수1(num)

c = 함수2(2)

print(c)
#28

28

In [ ]:
# 291
file = open('C:/Users/guddn/Desktop/매수1.txt','wt')
file.write('005930\n'
           '005380\n'
           '035420')
file.close()

In [20]:
# 292
file = open('C:/Users/guddn/Desktop/매수2.txt','wt')
file.write('005930 삼성전자\n''005380 현대차\n''035420 naver')
file.close()

In [ ]:
# 293
import csv
file = open('C:/Users/guddn/Desktop/매수종목1.csv','wt',encoding='cp949')

line = csv.writer(file)
line.writerow(["종목명", "종목코드", "PER"])
line.writerow(["삼성전자", "005930", 15.59])
line.writerow(["NAVER", "035420", 55.82])

In [ ]:
# 294
file = open('C:/Users/guddn/Desktop/매수.txt','rt')
codename=[]
lines=file.readlines()
for i in lines:
 i=i.strip()
 codename.append(i)
print(codename)

In [ ]:
# 295
file = open('C:/Users/guddn/Desktop/매수2.txt','rt')
lines = file.readlines()
dic = {}
for i in lines:
  i=i.strip()
  key,value=i.split()
  dic[key]=value
print(dic)

In [11]:
# 296
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)

10.31
0
8.0

In [12]:
# 297
per = ["10.31", "", "8.00"]
new = []
for i in per:
    try:
        i=float(i)
    except:
        i=0
    new.append(i)

print(new)

[10.31, 0, 8.0]

In [17]:
# 298
try:
    a = 1/0
except ZeroDivisionError:
    print('x')

x

In [15]:
# 299

data = [1, 2, 3]

for i in range(5):
  try:  
    print(data[i])
  except IndexError as a:
    print(a)

1
2
3
list index out of range
list index out of range

In [19]:
# 300
per = ["10.31", "", "8.00"]

for i in per:
    try:
     print(float(i))
    except:
     print(0)
    else:
     print('b')
    finally:
     print('a')

10.31
b
a
0
a
8.0
b
a